---
layout: default
---

<div class="home">

  <h1 class="page-heading">{{page.entrada}}</h1>
  
  {{ content }}
<div>
	<a href="http://dle.rae.es/?id=E9e9ZKl"><img src="/assets/nutria.jpg"  style="float:right;height:250px;width:300px;"/></a>
</div>

  <ul class="post-list">
    {% for post in site.posts %}
		{% if forloop.index > 2 %}
			{% break %}
		{% endif %}
      <li>
        <span class="post-meta">{{ post.date | date: "%F %T" }}</span>
		
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">Subscribe now! By <a href="{{ '/feed.xml' | relative_url }}">via RSS</a></p>
  <p>All news, in this <a href="/all.html">link</a></p>
</div>
